Source: libertine
Section: utils
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgtest-dev,
               libpam0g-dev,
               gobject-introspection,
               python3-dev,
               python3-testtools,
               qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: https://launchpad.net/libertine

Package: libertine
Architecture: any
Depends: qml-module-qtquick2,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         python3-lxc,
         lxc-templates,
         uidmap,
         proot,
         ${gir:Depends},
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: sandbox for running deb-packaged X11 apps on Ubuntu Personal
 Provides a container and releated tools to be able to create, maintain, and
 integrate legacy deb-packaged applications generally based around the X11
 display manager on a Ubuntu "Snappy Personal" system.
