Source: libertine
Section: utils
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               gobject-introspection,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgtest-dev,
               libpam0g-dev,
               lsb-release,
               python3-dev,
               python3-distro-info,
               python3-gi,
               python3-lxc,
               python3-testtools,
               python3-xdg,
               qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: https://launchpad.net/libertine

Package: libertine
Architecture: any
Depends: libertine-tools,
         qml-module-qtquick2,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         ${misc:Depends},
         ${shlibs:Depends}
Description: sandbox for running deb-packaged X11 apps on Ubuntu Personal
 Provides a container and releated tools to be able to create, maintain, and
 integrate legacy deb-packaged applications generally based around the X11
 display manager on a Ubuntu "Snappy Personal" system.

Package: libertine-tools
Architecture: any
Depends: python3-distro-info,
         python3-libertine,
         python3-psutil,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: CLI tools for running deb-packaged X11 apps on Ubuntu Personal
 Command-line tools that can be used for creating, manipulating, and using
 the Ubuntu Personal sandbox for legacy Deb-packaged X11 applicatons.

Package: liblibertine1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: runtime for running deb-packaged X11 apps on Ubuntu Personal
 Runtime library for creating and using the Ubuntu Personal sandbox for legacy
 Deb-packaged X11 applicatons.  This library is used by the Libertine tools
 and other software interacting wit hthe Libertine container, such as scopes
 or application launchers.

Package: liblibertine-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: liblibertine1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: developer files for the Libertine application sandbox
 Headers and shared libraries used to create the tools for creating and using
 the Ubuntu Personal sandbox for legacy Deb-packaged X11 applicatons.

Package: gir1.2-libertine
Architecture: any
Multi-Arch: same
Depends: liblibertine1 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends}
Description: GObject introspection files for the Libertine application sandbox
 The GObject introspection description files for the Libertine application
 sandbox runtime.  This package allows the Libertine API to be used from
 GIR-compliant languages such as Python.

Package: python3-libertine
Architecture: any
Section: python
Multi-Arch: allowed
Depends: debootstrap,
         fakechroot,
         fakeroot,
         gir1.2-libertine,
         lsb-release,
         lxc-templates,
         proot [amd64 arm64 armhf i386],
         python3-lxc,
         python3-xdg,
         uidmap,
         ${misc:Depends},
         ${python3:Depends}
Description: Python3 scripts for the Libertine application sandbox
 Python3 modules for the Libertine application sandbox tools.

Package: libertine-demo
Architecture: any
Multi-Arch: allowed
Depends: libertine-tools,
         ${misc:Depends}
Description: Adds desktop files and icon for Unity 8 desktop support
 Add desktop files and icons for the targeted applications needed for legacy
 X application support on Unity 8.
